.fs-14 {
    font-size: 14px !important;
}

.line-h-1 {
    line-height: 2 !important;
}

.fs-10 {
    font-size: 10px !important;
}

.flagBorder {
    border: 1px #666 ;
}

@media only screen and (min-width: 992px) {

    .min-lg-text-align-right {
        text-align: right;
    }
}


@media only screen and (max-width: 576px) {
    .justify-content-xs-center {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
        text-align: center;
    }
}