.line-h-1 {
    line-height: 1 !important;
}

@media  only screen and (max-width: 576px){
    .justify-content-xs-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
    text-align: center;
}
}
