/* general */
.imgSetting {
    max-width: 100%;
    max-height: 100%;
}

.imgFrame {
    width: 150px;
    height: 150px;
}

/* sponsor section */

.sponsor {
    margin-top: 20px;
}

.sponsorImg {
    /* max-height:450px; */
}

.landingSectionCentre {
    text-align: center;
}

.desktop-nav .nav_list li.featured {
    background: #0086ca;
    padding: 0 0.8rem;
    border: 1px solid #0086ca;
    text-transform: uppercase;
    font-size: 1.28rem;
    font-weight: bolder;
}

/* contact */

.position {
    width: fit-content;
    margin-bottom: 30px;
    font-size: 18px;
}

.personalInfo {
    width: fit-content;
}

.contactName {
    margin-top: 20px;
    margin-bottom: 0px;
    color: rgb(59, 120, 216);
    font-size: 24px;
}

.profBlock {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* hsbc */
.name {
    color: black;
    font-size: 18px;
    border: 1px;
    margin-bottom: 0px;
}

.aoi {
    color: black;
    font: 12px;    margin-bottom: 0px;

}
.pos {
    font-size: 10px;
    margin-bottom: 0px;
}


.pos.pos1 {
    /* margin-bottom: 40px; */
    color: black;
    font-size: 12px;
}

.ulsize {
    color: black;
    font-size: 10px;
}

.rowMargin40 {
    margin-bottom: 40px;
}