
/* general */



/* sponsor section */

.sponsor {
    margin-top: 20px;
}

.sponsorImg {
    /* max-height:450px; */
}

.landingSectionCentre {
    text-align: center;
}

.desktop-nav .nav_list li.featured {
    background: #0086ca;
    padding: 0 0.8rem;
    border: 1px solid #0086ca;
    text-transform: uppercase;
    font-size: 1.28rem;
    font-weight: bolder;
}

/* contact */

.position {
    width: fit-content;
    margin-bottom: 30px;
    font-size: 18px;
}

.personalInfo {
    width: fit-content;
}

.contactName {
    margin-top: 20px;
    margin-bottom: 0px;
    color: rgb(59, 120, 216);
    font-size: 24px;
}

.profBlock {
    padding-top: 20px;
    padding-bottom: 20px;
}

