/*  i5 */
@media only screen and (device-width: 320px) {
    .powDeadLine {
        height: 150px;
        margin-top: 40px;
        padding-top: 20px;

    }

    .indexTitle {
        padding-top: 80px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;

    }
}

/* galaxy S5 */
@media only screen and (device-width: 360px) {
    .powDeadLine {
        height: 150px;
        margin-top: 40px;
        padding-top: 20px;
    }
}

/* iphone 6/7/8 */
@media only screen and (device-width: 375px) {
    .powDeadLine {
        height: 150px;
        margin-top: 40px;
        padding-top: 20px;

    }
}

/* 6/7/8plus */
@media only screen and (device-width: 414px) {
    .powDeadLine {
        height: 150px;
        margin-top: 40px;
        padding-top: 20px;

    }

    .powBtnfontSize {
        /* font-size: 8px; */
        text-align: center;
    }

    .indexTitle {

        padding-top: 80px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;

    }
}

/* ipad */
@media only screen and (device-width: 768px) {
    .powDeadLine {
        height: 150px;
        margin-top: 40px;
        padding-top: 20px;
        padding-left: 0px;
    }

    .profBlock {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 330px !important;
    }
}

@media only screen and (max-width: 767px) {
    .d-none {
        display: none !important
    }

    .widthSmFix {
        width: 100% !important;
    }

    .paddingSmFix {
        padding: 0px 32px 0px;
    }

    .s-section {
        padding-top: 2rem;
    }


    /* .mediaShowFixCol12 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    } */
}