/* the prizes */

.prizeHeader {
    /* height:  60px !important; */
}

.prizesImg {
    width: fit-content;
    /* width: 100%;
    height: 100%; */
    /* text-align: center; */
}

.prizeBlock {
    text-align: center;
}

.olympicWinner {
    font-size: 14px;
    margin: 0px;
    padding: 5px;
}


@media screen and (min-width: 1200px) {

    .pl-sp {
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 990px) {
    .prizesImg {
        margin-top: 24px;
        /* width: 80%;
        height: 80%; */
        /* width: 150px;
        height: 150px; */
    }

    .prizeBlock {
        width: 100% !important;
        text-align: center;
        margin-bottom: 20px;
    }

    .changeToCol-6 {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {


    .prizesImg {
        /* width: 150px;
        height: 150px; */
    }

}


@media screen and (max-width: 414px) {
    .mt-3-sp {
        margin-top: 28px;
    }

    .center-sp {
        text-align: center;
    }
}