.w100 {
    width: 100% !important;
}

.centre {
    text-align: center;
}

.last {
    margin-bottom: 80px;
}
.paddingFixed {
    padding-left: 0px;
    padding-right: 0px;
}

.subHead {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #0286CA;
}

.headerText {
    font-size: 36px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    color: #000;
    line-height: 44px;
    display: flex;
    align-items: center;
}

.titleText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    margin-bottom: 8px;
    display: flex;
    align-items: center;

    color: #000000;
}

.paraText {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 10px;
    color: #000000;
}

.paraSpan {
    color: #000000;
    font-weight: bold;
}

.sectionPtFixed {
    padding-top: 0px;
}

.last {
    padding-bottom: 80px;
}

@media only screen and (max-width: 600px) {
    .headerText {
        font-size: 24px;
    }

    .titleText {
        font-size: 18px;
    }

    .paraText {
        font-size: 14px;
    }

    .emailText {
        font-size: 12px;
    }
}

/* submission page */

.btn-grey {
    background-color: #A7A7AD !important;
    border-color: #A7A7AD !important;
}

@media only screen and (min-width: 992px) {

    .mt-5 {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 992px) {
    .mediaControl12 {
        width: 100% !important;
        margin-top: 0px;
    }
}

hr {
    border: solid black;
    border-width: 1px 0 0;
    clear: both;
    color: #000 !important;

    margin: 3rem 0 3rem;
    height: 0;
}


.emailText {
    padding: 8px 0px 0px;
    width: 85% !important;
}

.nonEmailText {
    color: black;
    font-size: 14px;
    padding: 8px 0px 0px;
    width: 15% !important;
}

.emailSectionColor {
    font-size: 14px;
    color: black;
    padding: 0px 8px 0px;
    /* width: max-content; */
    background-color: #E5E5E5;
}

.mt-3 {
    margin-top: 30px;
}


@media only screen and (max-width: 320px) {
    .nonEmailText {
        font-size: 10px;
        padding: 8px 0px 0px;
        width: 15% !important;
    }

    .emailSectionColor {
        font-size: 10px;
        padding: 0px 8px 0px;
        /* width: max-content; */
        background-color: #E5E5E5;
    }
}

.ulColor {
    color: #000;
}

/* replace base style */

.block-1-2{
    width: 100%;
}

.row.emailText{
    width: 100%!important;
}

.row .row{
    margin-left:0px;
    margin-right: 0px;
}

.container-fluid .paraText{
    font-size: 14px;
}

/* end of replace base style */