.teamName {
    margin-bottom: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 44px;
    /* display: flex; */
    color: #000 !important;
    align-items: center;
}

.fs-36 {
    font-size: 36px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.mediaImg2 {
width: 96px;
height: 96px;
}
.teamId {
    margin-bottom: 16px;
    font-family: Montserrat;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 24px;
    line-height: 44px;
    /* display: flex; */
    color: #000 !important;
    align-items: center;
}

.pjDesc {
    margin-bottom: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* display: flex; */
    color: #000 !important;
    align-items: center;
}

.mediaImg {
    width: 164px;
    height: 164px;
}

.bold {
    font-weight: bold;
}

.right-sm-centre {
text-align: right;
}
.left-sm-centre {
text-align: left;
}

.flagshdw {
    border: 1px solid !important;
    /* box-shadow: 4px 6px grey !important; */
  }

@media only screen and (max-width: 414px) {
    .fs-sm-12 {
        font-size: 12px !important;
    }

    .fs-sm-14 {
        font-size: 14px !important;
    }

    .fs-sm-16 {
        font-size: 16px !important;
    }

    .fs-sm-18 {
        font-size: 18px !important;
    }

    .justify-sm {
        text-align: justify !important;
    }

}

@media only screen and (max-width: 600px) {

    .fs-sm-28 {
        font-size: 28px !important;
    }

    .fs-sm-24 {
        font-size: 24px !important;
    }

    .fs-24-sm-18 {
        font-size: 18px !important;
    }




}

@media only screen and (max-width: 768px) {
    .right-sm-centre {
        text-align: center !important;
    }

    .left-sm-centre {
        text-align: center !important;
    }
}

/* @media only screen and (max-width: 414px) {

} */