.fs-bold {
    font-weight: bold !important;
}

.fs-italicized {
    font-style: italic !important;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.mt-48px {
    margin-top: 48px !important;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-left-413-centre {
    text-align: left;
}

.text-right-413-centre {
    text-align: right;
}

@media screen and (max-width: 1040px) {
    .max1040-fs-14 {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .max800-fs-14 {
        font-size: 14px;
    }

}

@media screen and (max-width: 767px) {

    .mt-48px {
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 413px) {

    .text-left-413-centre {
        text-align: center;
    }

    .text-right-413-centre {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .h-413-220px {
        height: 220px !important;
    }

    .mt-413-4 {
        margin-top: 1.5rem !important;
    }
}